/* White Login Button */
.login-btn {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc; /* Optional: Light border */
  }
  
  /* Search Button Hover Effect */
  .search-btn {
    background-color: rgba(46, 123, 192, 0.849); /* Default */
    color: black;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease-in-out;
  }
  
  .search-btn:hover {
    background-color: #add8e6; /* Light Blue */
    color: black;
  }
  