.dashboard-container {
    display: flex;
    flex-direction: row;
    background-size: cover;
    min-height: 100vh;
}





.mini-1 {
    padding: 50px 20px;
}

.mini-2 {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color: rgb(59, 58, 58);
}

.upcoming {
    color: rgb(70, 70, 70);
}

.main-1 {
    background-color: #fff;
    padding: 15px 15px;
    border-radius: 7px 7px 0px 0px;
    color: rgba(82, 80, 80, 0.871);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.main-2 {
    background-color: #fff;
    padding: 15px 15px;
    border-radius: 7px 7px 0px 0px;
    color: rgba(82, 80, 80, 0.871);
    box-shadow: 5px 5px 15px rgba(84, 39, 39, 0.2);
}

.mini1 {
    background-color:  #041a70e0;
    padding: 15px 15px;
    border-radius: 1px;
    color: rgb(244, 240, 240);
    box-shadow: 5px 5px 15px rgba(208, 195, 195, 0.2);
    cursor: pointer;
    position: relative;
}

.notice {
    background-color: #041a70e0;
    padding: 2px 15px;
    color: #fcfcfc;
}

.noticeContent {
    padding: 15px 15px;
}

.mini2 {
    background-color: #aeaaaa34;
    padding: 15px 15px;
    border-radius: 2px;
    color: rgba(82, 80, 80, 0.871);
    box-shadow: 5px 5px 15px rgba(208, 195, 195, 0.2);
    cursor: pointer;
}

.announce {
    background-color: #840608d9;
    padding: 2px 15px;
    color: #fcfcfc;
}

.announceContent {
    padding: 15px 15px;
}

.action-buttons {
    margin-top: 10px;
    margin-left: 790px;
}

.main{
    text-align: left;
}

.des{
    margin-left: 60px;
}

.des1{
    margin-left: 60px;
    font-size: larger;
    color: rgb(63, 59, 59);
}

.edit{
    margin-left: 60px;
    margin-top: 10px;
}

.name{
    color: rgb(49, 48, 48);
}

.lec{
    margin-left: 30px;
}


/* Add hover effect to the card */
.data-item:hover {
    background-color: #f8f9fa; /* Light gray background on hover */
    transition: background-color 0.3s ease;
}

.firstcard{
    padding: 10px;
}

.main-1{
    padding: 30px;
}